<div class="topic-index-wrapper">
<h1 class="userindex">登録済ユーザー一覧</h1>
<table border="1" align="center">
  <thead>
    <tr>
      <th>id</th>
      <th>名前</th>
      <th>登録日</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Destroy', admin_users_path, method: :delete, data: { confirm: 'ユーザーを削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>